<%- include("includes/head.ejs"); %>
<%- include("includes/header.ejs"); %>
<main>
    <div  class="fluid-container">
        <h2><%= task.title %></h2>
        <hr>
        <p><%= task.shortdescr %></p>
        <p><%= task.fulldescr %></p>
    </div>
</main>
<%- include("includes/footer.ejs"); %>

